<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by {{name}}, and uses data from mapbox.com and darksky.net</p>
    <img src="img/me.jpg" class="portrait" />

  </div>

  {{>footer}}
</body>

</html>