<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <div class="main-content">
    {{>header}}
    <p>Use this site to know about the weather in your location!</p>

    <form action="">
      <input type="text" placeholder="Location">
      <button>Search</button>
    </form>

    <p id="message-one"></p>
    <p id="message-two"></p>
  </div>

  {{>footer}}
  <script src="/scripts/app.js"></script>
</body>

</html>